* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #548687;
  text-align: center;
}

.game-container {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: #b0413e;
  cursor: pointer;
  background-color: aquamarine;
}

#result-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-reveal {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.7rem;
  border: 2px solid black;
  border-radius: 1rem;
  margin-top: 1rem;
}

#reset-button {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #ffffff;
  border-radius: 1rem;
  border: none;
}